APP_NAME=BrainrotGen Backend
APP_VERSION=0.1.0
ENVIRONMENT=development
API_V1_PREFIX=/api/v1
SQLITE_FILE=brainrotgen.db
# DATABASE_URL=sqlite+aiosqlite:///./brainrotgen.db

JWT_SECRET=change-me-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DAILY_QUOTA_SECONDS=300
